target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

node_modules/
dist/
dist-ssr/
*.local

.DS_Store
*.log
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
.vscode/
.idea/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~

.claude/
.trae/
